body{
  max-width: 1280px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: red;
  text-shadow: 1px 0px gray;
  transition: all 0.3s ease;
}

.float_left{
  float: left;
}
.float_right{
  float: right;
}
.header_block{
  display: inline-block;
  margin: 28px 15px 28px 40px;
  font-size: 25px;
  font-family: ArialMT Regular, sans-serif;
}
.header_bor_r{
  display: inline-block;
  margin: 0px 0px 28px 0px;
  border-right: solid 2px black;
  padding: 0px 40px 0px 0px;
  font-size: 25px;
  font-family: ArialMT Regular, sans-serif;
}

.clear{
  clear:both;
}
.mb{
  margin-bottom: 38px;
}
.News{
  width: 50px;
  margin: -28px 0px 0px 20px;
  padding: 3px 30px;
  background-color: black;
  display: block;
  color: white;
  font-family: Arial BoldMT,sans-serif;
  font-size: 18px;
}
.red_bold{
  color: red;
  font-weight: bolder;
}
.bigimg_position{
  display: block;
  margin-top: -250px;
  margin-left: 130px;
  margin-bottom: 130px;
  font-size: 50px;
  font-family: STHeitiTC Light, sans-serif;
  color: white;
}
.little_font{
  font-size: 33.33px;
  margin-left: 65px;
}

.sub_atc{
  width:1240px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  overflow: auto;
}

.img_mar{
  margin-right: 10px;
}

.content_left{
  margin-top: -20px;
  width: 3.78%;
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  color:red;
}
.content{
  width: 29%;
  display: inline-block;
  font-family: HiraKakuStd W8,sans-serif;
  font-size: 25px;
}
.share{
  height:33px;
  margin-bottom: 0px;
  border-top: solid 4px gray;
  border-bottom: solid 4px gray;
}

.share_hp{
  float: left;
  margin-left: 30px;
  font-family: Arial BoldMT,sans-serif;
  font-size: 25px;
}
.inblock{
  display: inline-block;
  font-family: Arial BoldMT,sans-serif;
  font-size: 25px;
}
.inblock_bl{
  display: inline-block;
  margin: 0px 13px;
  border-left: solid 2px black;
  padding-left: 13px;
  font-family: Arial BoldMT,sans-serif;
  font-size: 25px;
}

.logo_ml{
  margin-top: 2.5px;
  margin-left: 15px;
}
.logo_ml_mr{
  margin-top: 2.5px;
  margin-left: 15px;
  margin-right: 13px;
}
.sponsor{
  width: 1280px;
  height: 247px;
  background-color: black;
  font-family: Arial BoldMT,sans-serif;
  font-size: 25px;
}
.sponsor_img{
  margin-top: 17px;
  margin-left: 30px;
  color: white;
  display: inline-block;
}

.sponsor_img>p{
  margin-top: -5px;
  text-align: center;
}

.sponsor_width1{
  width:16%;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: top;

}
.sponsor_width2{
  width:23%;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.sponsor_width3{
  width:22%;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.sponsor_width4{
  width:16%;
  margin-top: 8px;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 20.83px;
  line-height: 30px;
}

.mt{
  margin-top: 25px;
}
.p21_1{
  font-size: 20.83px;
  line-height: 25px;
}
.p21_2{
  font-size: 20.83px;
  line-height: 38px;
}
.p21_3{
  font-size: 20.83px;
  line-height: 30px;
}
.chooseUL{
  margin: 20px 0px 20px 30px;
  border: solid 4px black;
  padding: 6px 4px;
  font-family: Arial BoldMT,sans-serif;
  font-size: 25px;
}
.chooseUL:hover{
  background-color: red;
  color: white;
  transition: all 0.2s ease;
}

.cc{
  float: right;
  margin: 47px 30px 20px 0px;
  font-family: Arial BoldMT,sans-serif;
  font-size: 25px;
}
